body {
    text-align: center;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    min-width: 260px;
}

header {
    padding: 0;
    margin: 0;
    border-bottom: 5px solid rgba(0,0,0,.4);
}

#nav {
    padding: 0;
    margin: 0 0 15px;
    background-color: #ff4d4d;
    border-bottom: 3px solid rgba(0,0,0,.4);
    width: 100%;
    height: 45px;
}

header img {
    width: 100px;
    padding: 0;
    margin: 0;
    border-radius: 100%;
    transition: 1s;
}

header img:hover {
    animation: wiggle 3s;   
}

@keyframes wiggle {
    5%{ transform: rotate(5deg);}
    35%{ transform: rotate(-10deg);}
    55%{ transform: rotate(10deg);}
    60%{ transform: rotate(-10deg);}
    65%{ transform: rotate(10deg);}
    70%{ transform: rotate(-10deg);}
    75%{ transform: rotate(10deg);}
    80%{ transform: rotate(-10deg);}
    85%{ transform: rotate(10deg);}
}    

header h1 {
    color: #ff4d4d;
    font-weight: 300;
    font-size: 25px;
    padding: 0;
    margin: 10px 0;
}

#result {
    width: 35%;
    padding: 5px;
    margin: 10px auto 10px;
    font-size: 18px;
    border-radius: 5px;
    color: #ff4d4d;
    background-color: white;
    border: 3px solid #ff4d4d;
    box-shadow: 0 0  15px rgba(0, 0, 0, .4);
}

#result2 {
    width: 35%;
    padding: 5px;
    margin: 10px auto 10px;
    font-size: 18px;
    border-radius: 5px;
    color: white;
    background-color: #ff4d4d;
    border: 3px solid #ff4d4d;
    box-shadow: 0 0  15px rgba(0, 0, 0, .4);
    animation: wiggle .2s linear;
}

#scores {
    width: 30%;
    padding: 20px 2px 60px;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 0  15px rgba(0, 0, 0, .4);
    background-color: rgba(0, 0, 0, .4);
    box-sizing: border-box;
}

#wrap {
    background-color: white;
    width: 100px;
    height: 100px;
    padding: 5px;
    margin: auto;
    border-radius: 100%;
    box-shadow: 0 0  15px rgba(0, 0, 0, .4);
    box-sizing: border-box;
    position: relative;
    top: -55px;
}

#calculate {
    background-color: white;
    width: 90px;
    height: 90px;
    border-radius: 100%;
    position: absolute;
    top: 5px;
    left: 5px;
    color: #ff4d4d;
    border-top: 5px solid rgba(0, 0, 0, .4);
    border-bottom: 5px solid rgba(0, 0, 0, .4);
    border-left: 5px solid #ff4d4d;
    border-right: 5px solid #ff4d4d;
    padding-top: 31px;
    box-sizing: border-box;
}

#calculate:hover {
    cursor: pointer;
    color: rgba(0, 0, 0, .4);
}


label {
    font-size: 15px;
}

input {
    width: 80%;
    margin: 5px;
    height: 20px;
    padding: 2px;
    text-align: center;
}

select {
    margin: 5px;
    padding: 2px;
}

p {
    padding: 5px;
    margin: 0;
    font-size: 14px;
    text-align: center;
}

footer {
    width: 100%;
    height: 45px;
    background-color: rgba(0,0,0,.4);
    border-top: 2px solid #ff4d4d;
    padding: 5px 0 0;
    box-sizing: border-box;
    margin: 0;
    position: absolute;
    bottom: 0;
}

footer a {
   color: white;
}

/************
media queries
************/

/*big tablets*/
@media screen and (max-width: 1200px) {
    #result, #result2 {
        width: 45%;
    }

    #scores {
        width: 40%;
    }
}

/*tablets*/
@media screen and (max-width: 800px) {
    #result, #result2 {
        width: 55%;
    }

    #scores {
        width: 50%;
    }
}

/*big mobiles*/
@media screen and (max-width: 650px) {
    #result, #result2 {
        width: 80%;
    }

    #scores {
        width: 75%;
    }
}

/*mobiles*/
@media screen and (max-width: 400px) {
    #result, #result2 {
        width: 95%;
    }

    #scores {
        width: 90%;
    }
}



/*all that won't show footer on full screen*/

@media screen and (max-height: 625px) {
    footer {
        position: relative;
        bottom: 0;
    }

}
