body {
    text-align: center;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    min-width: 260px;
}

header {
    padding: 0;
    margin: 0;
    border-bottom: 5px solid rgba(0,0,0,.4);
}

#nav {
    padding: 0;
    margin: 0 0 15px;
    background-color: #ff4d4d;
    border-bottom: 3px solid rgba(0,0,0,.4);
    width: 100%;
    height: 45px;
}

header img {
    width: 100px;
    padding: 0;
    margin: 0;
    border-radius: 100%;
    transition: 1s;
}

header img:hover {
    animation: wiggle 3s;   
}

@keyframes wiggle {
    5%{ transform: rotate(5deg);}
    35%{ transform: rotate(-10deg);}
    55%{ transform: rotate(10deg);}
    60%{ transform: rotate(-10deg);}
    65%{ transform: rotate(10deg);}
    70%{ transform: rotate(-10deg);}
    75%{ transform: rotate(10deg);}
    80%{ transform: rotate(-10deg);}
    85%{ transform: rotate(10deg);}
}    

header h1 {
    color: #ff4d4d;
    font-weight: 300;
    font-size: 25px;
    padding: 0;
    margin: 10px 0;
    text-shadow: 0 0 5px rgba(0, 0, 0, .4);
}

#container {
    width: 40%;
    padding: 0 10px;
    margin: 10px auto;
}

#result {
    width: 80%;
    padding: 5px;
    margin: 0 auto 10px;
    font-size: 18px;
    border-radius: 5px;
    color: white;
    background-color: #ff4d4d;
    box-shadow: 0 0  15px rgba(0, 0, 0, .4);
}

#scores {
    width: 75%;
    padding: 20px 5px 60px;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 0  15px rgba(0, 0, 0, .4);
    background-color: rgba(0, 0, 0, .4);
    box-sizing: border-box;
}



#wrap {
    background-color: white;
    width: 110px;
    height: 110px;
    padding: 5px;
    margin: auto;
    border-radius: 100%;
    box-shadow: 0 0  15px rgba(0, 0, 0, .4);
    box-sizing: border-box;
    position: relative;
    top: -55px;
}

#load {
    width: 100px;
    height: 100px;
    padding: 5px;
    margin: auto;
    border-radius: 100%;
    border-top: 5px solid rgba(0, 0, 0, .4);
    border-bottom: 5px solid rgba(0, 0, 0, .4);
    border-left: 5px solid #ff4d4d;
    border-right: 5px solid #ff4d4d;
    box-sizing: border-box;
    position: absolute;
    animation: spin 2s infinite linear;
}

@keyframes spin {
    100%{transform: rotate(360deg);}
}


#calculate {
    background-color: white;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    position: absolute;
    top: 15px;
    left: 15px;
    color: #ff4d4d;
    padding-top: 31px;
    box-sizing: border-box;
    transition: .5s;
}

#calculate:hover {
    cursor: pointer;
    color: rgba(0, 0, 0, .4);;
}


label {
    font-size: 15px;
}

input {
    width: 80%;
    margin: 5px;
    padding: 2px;
    text-align: center;
}

select {
    margin: 5px;
    padding: 2px;
}

p {
    padding: 5px;
    margin: 0;
    font-size: 14px;
    text-align: center;
}

footer {
    width: 100%;
    height: 45px;
    background-color: rgba(0,0,0,.4);
    border-top: 2px solid #ff4d4d;
    padding: 5px 0 0;
    box-sizing: border-box;
    margin: 0;
    position: absolute;
    bottom: 0;
}

footer a {
   color: white;
}

/************
media queries
************/

/*big tablets
@media screen and (max-width: 1200px) {
    .exams {
        width: 40%;
    }

    .action, .action:hover {
        margin-top: 10px;
    }
}

/*tablets
@media screen and (max-width: 800px) {
    .exams {
        width: 50%;
    }

    .action, .action:hover {
        margin-top: 10px;
    }
}

/*big mobiles
@media screen and (max-width: 650px) {
    .exams {
        width: 75%;
    }

    .action, .action:hover {
        margin-top: 10px;
    }
}

/*mobiles
@media screen and (max-width: 400px) {
    .exams {
        width: 98%;
    }

    .action, .action:hover {
        margin-top: 10px;
    }
}



/*all that won't show footer on full screen*/

/* @media screen and (max-height: 650px) {
    footer {
        position: relative;
        bottom: 0;
    }

} */
