body {
    text-align: center;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    min-width: 260px;
}

header {
    padding: 0;
    margin: 0;
    border-bottom: 5px solid rgba(0,0,0,.4);
}

#nav {
    padding: 0;
    margin: 0 0 15px;
    background-color: #ff4d4d;
    border-bottom: 3px solid rgba(0,0,0,.4);
    width: 100%;
    height: 45px;
}

header img {
    width: 100px;
    padding: 0;
    margin: 0;
    border-radius: 100%;
    transition: 1s;
}

header img:hover {
    animation: wiggle 3s;   
}

@keyframes wiggle {
    5%{ transform: rotate(5deg);}
    35%{ transform: rotate(-10deg);}
    55%{ transform: rotate(10deg);}
    60%{ transform: rotate(-10deg);}
    65%{ transform: rotate(10deg);}
    70%{ transform: rotate(-10deg);}
    75%{ transform: rotate(10deg);}
    80%{ transform: rotate(-10deg);}
    85%{ transform: rotate(10deg);}
}    

header h1 {
    color: #ff4d4d;
    font-weight: 300;
    font-size: 25px;
    padding: 0;
    margin: 10px 0;
}

.exams {
    padding: 0 0 3px;
    margin: 25px auto;
    width: 30%;
    background-color: rgba(0,0,0,.4);
    border-radius: 10px;
    visibility: visible;
}

.big-button {
    width: 100%;
    padding: 5px 10px;
    margin: 0 0 10px;
    font-size: 20px;
    font-weight: 300;
    background-color: white;
    color: #ff4d4d;
    border-radius: 10px;
    border: 2px solid #ff4d4d;
}

.big-button:hover {
    background-color: #ff4d4d;
    color: white;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(225,225,225,.5);
}

label {
    padding: 0;
    margin: 0;
    font-size: 14px;
}

#grades {
    width: 100%;
    padding: 0 5px;
    box-sizing: border-box;
    margin: 0;
    height: auto;
    text-align: left;
}

input {
    width: 100%;
    box-sizing: border-box;
}

input[type="number"] {
    margin: 0 0 3px;
}

select {
    width: 15%;
    margin: 0 0 1% 3.5%;
}


.action {
    width: 30%;
    padding: 2px;
    margin: 0 35% 2px;
    background-color: white;
    color: #ff4d4d;
    border: 2px solid white;
    border-radius: 5px;
    transition: .3s;
}

.action:hover {
    width: 96%;
    margin: 0 2% 2px;
    background-color: #ff4d4d;
    color: white;
    cursor: pointer;
    letter-spacing: 7px;
}

p {
    padding: 5px;
    margin: 0;
    font-size: 14px;
    text-align: center;
}

span {
    color: white;
    font-size: 18px;
}

footer {
    width: 100%;
    height: 45px;
    background-color: rgba(0,0,0,.4);
    border-top: 2px solid #ff4d4d;
    padding: 5px 0 0;
    box-sizing: border-box;
    margin: 0;
    position: absolute;
    bottom: 0px;
}

footer a {
   color: white;
}

/************
media queries
************/

/*big tablets*/
@media screen and (max-width: 1200px) {
    .exams {
        width: 40%;
    }

    .action, .action:hover {
        margin-top: 10px;
    }
}

/*tablets*/
@media screen and (max-width: 800px) {
    .exams {
        width: 50%;
    }

    .action, .action:hover {
        margin-top: 10px;
    }
}

/*big mobiles*/
@media screen and (max-width: 650px) {
    .exams {
        width: 75%;
    }

    .action, .action:hover {
        margin-top: 10px;
    }
}

/*mobiles*/
@media screen and (max-width: 400px) {
    .exams {
        width: 98%;
    }

    .action, .action:hover {
        margin-top: 10px;
    }
}



/*all that won't show footer on full screen*/

@media screen and (max-height: 650px) {
    footer {
        position: relative;
        bottom: 0;
    }

}
